@import '../../sass/mixins';
@import '../../sass/variables';

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark;
  height: 3rem;
  font-size: 2.3rem;
  padding: 2rem;

  .Logo {
    color: $light-grey;

    span {
      color: $light-blue;
    }
  }
}
